body {
    background-color: #c1c1c1;
}
.frameUp {
    display: inline-block;
    position: absolute;    
    width: 607px;
    height: 232px;
    left: 616px;
    top: 223px;
    
}
p{
    margin:0;
    padding:0;
}
.rectangle {
    display: inline-block;
    position: absolute;
    width: 607px;
    height: 232px;
    background-color: #FFFFFF;
    left: 616px;
    top: 223px;
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.user {
    /* New User */
      position: absolute;
    width: 130px;
    height: 36px;
   top:54px;
   left:238px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    /* identical to box height */
    vertical-align:central;
    text-align: center;
    color: #333333;
    /* Черный */
    border-radius: 10px;
}
/* Firstname Lastname / SomeCollLogin */
/* Firstname Lastname / SomeCollLogin */
.Uname {
    position: absolute;
    width: 337px;
    height: 24px;
    left: 135px;
    top: 114px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    text-align: center;
    color: #333333;
    /* Черный */
    border-radius: 10px;
  
}
.Ulogin {
    display: inline-block; 
    color: #c1c1c1;
}
/* SomeCool@gmail.com */
.Umail {
    display:inline-block;
    position: absolute;
    width: 205px;
    height: 24px;
    left: 200px;
    top: 154px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    text-align: center;
    color: #333333;
    /* Черный */
    border-radius: 10px;
}