<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vuex@3.1.0/dist/vuex.js"></script>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div id="app3">
        <div class="rectangle"> </div>
        <div class="frameUp">
            <div class="group">
                <div class="user"><p>New User</p></div>
                <div class="Uname">
                    <p> {{$store.state.FirstName}} {{$store.state.LastName}} / <span class="Ulogin">{{$store.state.login}}</span></p>
                </div>
                <div class="Umail"><p>{{$store.state.email}}</p></div>
            </div>
        </div>
    </div>

    <form class="FrameBottom">

        <div class="FrameBottom-signup"><p>Sign Up</p></div>
        <div class="FrameBottom-login-position">
            <p class="FrameBottom-text">Login<span class="FrameBottom-star">*</span></p>
        </div>

        <div class="FrameBottom-input-positionL">
            <div id="login">
                <input class="FrameBottom-input" type="text" name="login" v-model="$store.state.login">
            </div>
        </div>


        <div class="FrameBottom-email-position">
            <p class="FrameBottom-text">Email<span class="FrameBottom-star" v-model="post.text">*</span></p>

        </div>
        <div class="FrameBottom-input-positionE">
            <div id="email">
                <input class="FrameBottom-input" type="text" name="Email" v-model="$store.state.email">
            </div>
        </div>
        <div class="FrameBottom-password-position">
            <p class="FrameBottom-text">Password</p>
        </div>
        <div class="FrameBottom-input-positionP">
            <div id="password">
                <input class="FrameBottom-input" type="text" name="Password" v-model="$store.state.password">
            </div>
        </div>
        <div class="FrameBottom-Input-Size">
            <div class="FrameBottom-FirstName-position">
                <div id="FirstName">
                    <p class="FrameBottom-text">First Name</p>
                    <input class="FrameBottom-input" type="text" name="FirstName" v-model="$store.state.FirstName" />
                </div>
            </div>
            <div class="FrameBottom-LastName-position">
                <p class="FrameBottom-text">Last Name</p>
                <div id="LastName">
                    <input class="FrameBottom-input" type="text" name="LastName" v-model="$store.state.LastName" />
                </div>
            </div>
        </div>
        <div class="FrameBottom-Country-position">
            <p class="FrameBottom-text">Country</p>
        </div>
        <div class="FrameBottom-Sity-position">
            <p class="FrameBottom-text">Sity</p>
            <div id="city">
                <select v-model="selected">
                    <div class="FrameBottom-input">

                        <div class="asfg">
                            <option v-for="option in options" v-bind:value="option.value">
                                {{ option.text }}
                            </option>
                        </div>
                    </div>
                </select>
                <span>Выбрано: {{ selected }}</span>

            </div>
        </div>
        <div class="FrameBottom-BirthDay-position">
            <p class="FrameBottom-text">Date of birth</p>
        </div>
        <div class="FrameBottom-ZipCode-position">
            <p class="FrameBottom-text">Zip code</p>
        </div>

    </form>

    <script src="js/main.js"></script>

</body>
</html>
